body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #303033;
    font-family: 'Martel Sans', sans-serif;
}

.contact-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: float 2s ease-in-out infinite; /* Float animation on hover */
}

.contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.contact-header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.contact-header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
    transition: color 0.3s ease;
}

.contact-header h2:hover {
    color: #007BFF;
}

.contact-phone {
    font-size: 1.2em;
    color: #666;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.contact-phone:hover {
    color: #007BFF;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}